@font-face {
    font-family: "Ubuntu-C";
    src: url("../../../src/font/Ubuntu-C.ttf") format("truetype");
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

#main {
    margin: 20px;
}

section {
    border: 10px solid black;
    width: 55mm;
    border-radius: 22px;
    height: 89mm;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-family: "Ubuntu-C";
    margin: 0;
}

h2 {
    font-family: "Ubuntu-C";
    margin-top: 10px;
}