body{
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav{
  width: 100vw;
  height: 100px;
  background-color: #795548;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  width: 100vw;
  height: 100%;
  background-image: url('../img/abbey.png');
  background-repeat: no-repeat;
  background-size: 100vw;
}

.item{
  position: absolute;
  border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;
  transform: rotate(135deg);
}

.note{
  position: absolute;
  display: none;
  background-color: rgb(194, 194, 194);
  padding: 5px;
  border-radius: 10px;
  transform: rotate(-135deg);

}

.text{

}