body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.note{
    margin-top: 0;
    font-size: x-small;
    font-style: italic;
}

#inputValue{
    width: 40px;
}

button{
    margin: 3px;
}